
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1510047253068'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1510047253068#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf?t=1510047253068') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1510047253068#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="icon-"] {
	font-family: 'iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	/* Better Font Rendering =========== */
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
}

.icon-word:before { content: "\e600"; }

.icon-back:before { content: "\e626"; }

.icon-guano:before { content: "\e60d"; }

.icon-less:before { content: "\e6a5"; }

.icon-moreunfold:before { content: "\e6a6"; }

.icon-selected:before { content: "\e6ad"; }

.icon-zuobiao:before { content: "\e645"; }

.icon-bridge:before { content: "\e660"; }

.icon-tunnel:before { content: "\e663"; }

.icon-gonggao:before { content: "\e602"; }

.icon-question-9:before { content: "\e60e"; }

.icon-notice:before { content: "\e678"; }

.icon-xinzeng:before { content: "\e6ac"; }

.icon-fangzi:before { content: "\e674"; }

.icon-paishui:before { content: "\e613"; }

.icon-fanghu:before { content: "\e620"; }

.icon-yongcheguanli:before { content: "\e618"; }

.icon-kaoqin:before { content: "\e624"; }

.icon-all:before { content: "\e6d3"; }

.icon-fujian:before { content: "\e61e"; }

.icon-meeting:before { content: "\e61a"; }

.icon-tupian2:before { content: "\e6ba"; }

.icon-gongwen:before { content: "\e607"; }

.icon-pdf:before { content: "\e7cf"; }

.icon-kefu:before { content: "\e692"; }

.icon-EXCEL:before { content: "\e62b"; }

.icon-duanxin:before { content: "\e619"; }

.icon-guanbi:before { content: "\e7be"; }

.icon-tupian:before { content: "\e612"; }

.icon-xinzeng2:before { content: "\e610"; }

.icon-web-icon:before { content: "\e6dc"; }

.icon-falvfagui:before { content: "\e61b"; }

.icon-gerenhangdongjihua:before { content: "\e644"; }

.icon-chuanyueguanli:before { content: "\e73d"; }

.icon-daibanrenwu:before { content: "\e73e"; }

.icon-gerenjihua:before { content: "\e73f"; }

.icon-goujiansaoma:before { content: "\e740"; }

.icon-zijinzhifu:before { content: "\e741"; }

.icon-shouyeweixuanzhong:before { content: "\e742"; }

.icon-shouye:before { content: "\e743"; }

.icon-tongxunlu:before { content: "\e744"; }

.icon-tongxunluweixuanzhong:before { content: "\e745"; }

.icon-gerenxinxi:before { content: "\e74a"; }

.icon-gerenxinxiweixuanzhong:before { content: "\e74b"; }

.icon-handong:before { content: "\e746"; }

.icon-lujitianfang:before { content: "\e748"; }

.icon-ruanji:before { content: "\e749"; }

.icon-lujikaiwa:before { content: "\e747"; }

.icon-piao:before { content: "\e74c"; }

.icon-jpg:before { content: "\e625"; }

.icon-png:before { content: "\e627"; }

.icon-pdf1:before { content: "\e628"; }

.icon-ppt:before { content: "\e629"; }

.icon-word1:before { content: "\e62a"; }

.icon-zip:before { content: "\e62c"; }

.icon-daiban:before { content: "\e706"; }

.icon-zhongshen:before { content: "\e707"; }

.icon-bohui:before { content: "\e708"; }

.icon-zaiban:before { content: "\e70d"; }

.icon-excel:before { content: "\e710"; }

.icon-fawenguanli:before { content: "\e711"; }

.icon-fawenguanli1:before { content: "\e712"; }

.icon-hetong:before { content: "\e714"; }

.icon-xianchangquerendan:before { content: "\e715"; }

.icon-shebeiguanli:before { content: "\e716"; }

.icon-gongchengjindu:before { content: "\e717"; }

.icon-sousuowujieguo:before { content: "\e718"; }

.icon-qita:before { content: "\e719"; }

